<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <link rel="stylesheet" type="text/css" href="/css/page/logicClass.css" />
    <div th:include="common/head :: head"></div>
</head>

<body>
<div class="body-container">
<!--    <video class="video-background" preload="auto" loop playsinline autoplay src="/img/swim.mp4" tabindex="-1" muted="muted"></video>-->
    <div id="vue">
        <div class="grid-condition">
            <h2 class="grid-title">设置生成逻辑类</h2>

            <el-row :gutter="20">
                <!-- 数据源下拉框 -->
                <el-col :span="4">
                    <h3 class="grid-tips"><span>*</span>请选择数据源</h3>
                    <div class="grid-content bg-purple">
                        <template>
                            <el-select v-model="dataSourceValue" @change="checkDataSource" filterable style="width:100%" placeholder="请选择">
                                <el-option
                                        v-for="item in dataSourceOptions"
                                        :key="item"
                                        :label="item"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </template>
                    </div>
                </el-col>
                <!-- 数据表下拉框 -->
                <el-col :span="4">
                    <h3 class="grid-tips"><span>*</span>请选择数据表</h3>
                    <div class="grid-content bg-purple">
                        <template>
                            <el-select v-model="tableValue" @change="checkTableName" filterable style="width:100%" placeholder="请选择">
                                <el-option
                                        v-for="item in tableOptions"
                                        :key="item"
                                        :label="item"
                                        :value="item">
                                </el-option>
                            </el-select>
                        </template>
                    </div>
                </el-col>
                <!-- 生成方法复选框 -->
                <el-col :span="16">
                    <h3 class="grid-tips"><span>*</span>请选择生成方法</h3>
                    <div class="grid-content bg-purple">
                        <template>
                            <div>
                                <el-checkbox-group v-model="checkedItems" @change="handleCheckedCitiesChange">
                                    <el-checkbox-button :class="allCheckBtnStyle" v-model="checkAll" @change="handleCheckAllChange(isIndeterminate)">全选</el-checkbox-button>
                                    <el-checkbox-button v-for="item in items" :label="item" :key="item">{{item}}</el-checkbox-button>
                                </el-checkbox-group>
                            </div>
                        </template>
                    </div>
                </el-col>
            </el-row>

            <div style="text-align: center; margin-top: 15px">
                <el-button @click="generateLogicalTemplate" type="primary" round :disabled="isGenerateDisabled">生成逻辑类</el-button>
            </div>
        </div>

        <div class="grid-condition" v-if="showCodeBlock">
            <!-- 生成code展示 -->
            <h2 class="grid-title">自动生成代码</h2>
            <pre>
                <code class="language-java line-numbers">
                    {{code}}
                </code>
            </pre>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let item = new Vue({
        el: '#vue',
        data: {
            url: "",
            code: "",
            visible: false,
            checkAll: false,
            showCodeBlock: false,
            isIndeterminate: true,
            isGenerateDisabled: false,
            checkedItems: ['新增方法', '分页查询', '修改方法', '获取详情'],
            items: ['新增方法', '分页查询', '修改方法', '获取详情', '批量插入', '非分页查询', '自定义模板'],
            dataSourceValue: '',
            dataSourceOptions: [],
            tableValue: '',
            tableOptions: [],
        },
        created() {
            this.url = "http://localhost:8080";
            // 获取数据源选项
            axios({
                "method":"get",
                "url":this.url+"/table/datasource"
            }).then(response => {
                this.dataSourceOptions = response.data.data;
            }).catch(error => {
                console.log("获取数据源选项错误:"+error)
            })
        },
        methods: {
            handleCheckAllChange(val) {
                this.showCodeBlock = false
                this.code = ""
                this.isGenerateDisabled = false
                this.checkedItems = val ? this.items : [];
                this.isIndeterminate = !this.isIndeterminate;
            },
            handleCheckedCitiesChange(value) {
                this.showCodeBlock = false
                this.code = ""
                this.isGenerateDisabled = false
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.items.length;
                this.isIndeterminate = !this.checkAll;
            },
            // 获取数据表选项
            checkDataSource(dataSourceName){
                axios({
                    "method":"get",
                    "url":this.url+"/table/tables",
                    "params":{
                        "dataSource":dataSourceName
                    }
                }).then(response => {
                    this.showCodeBlock = false
                    this.code = ""
                    this.tableValue = ""
                    this.tableOptions = response.data.data
                    this.isGenerateDisabled = false
                }).catch(error => {
                    console.log("获取数据表选项错误:"+error)
                })
            },
            // 选择数据表
            checkTableName(dataSourceName){
                this.showCodeBlock = false
                this.code = ""
                this.isGenerateDisabled = false
            },
            // 获取逻辑类模板
            generateLogicalTemplate(){
                if(this.dataSourceValue == "" || this.tableValue == ""){
                    this.$message({
                        message: '生成逻辑类条件不足，请选择数据源和数据表！',
                        type: 'warning'
                    });
                    return
                }
                this.isGenerateDisabled = true;
                axios({
                    "method":"post",
                    "url":this.url+"/template/logic",
                    "params":{
                        "dataSource":this.dataSourceValue,
                        "tableName":this.tableValue,
                        "checkedItems": this.checkedItems.join(',')
                    }
                }).then(response => {
                    this.code = response.data.data;
                    this.showCodeBlock = true;
                    this.$nextTick(() => {
                        Prism.highlightAll()
                    })
                }).catch(error => {
                    console.log("获取逻辑类模板错误:"+error)
                })
            }
        },
        computed: {
            allCheckBtnStyle() {
                return {
                    'el-button-all-check': !this.isIndeterminate
                }
            }
        }
    })
</script>

</body>

</html>
