body {
  margin: 0;
  overflow: hidden;
}

input {
  *display: inline;
  *zoom: 1;
}

/* 导航栏 */
.index-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* index-logo */
.index-logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none!important;
  color: #333!important;
}

.index-logo a img {
  height: 50px;
  position: fixed;
  top: 0px;
  left: 15px;
}

.index-logo a span {
  display: block;
  padding-left: 55px;
  line-height: 24px;
}

/* 菜单 */
.index-menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;

}

.index-menu li {
  margin-left: 40px;
}

.index-menu li:first-child {
  margin-left: 0;
}

.index-menu a {
  font-size: 16px;
  text-decoration: none!important;
  color: #666;
  transition: color 0.2s ease-in-out;
}

.index-menu a:hover {
  color: #333;
}

/* 切换按钮 */
.toggle {
  display: none;
}

.toggle i {
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* 切换按钮在窄屏幕时显示 */
  .toggle {
    display: block;
  }

  /* 菜单在窄屏幕时隐藏 */
  .index-menu {
    position: fixed;
    top: 54px;
    left: 0;
    width: 100%;
    height: calc(100vh - 54px);
    background-color: #fff;
    opacity: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .index-menu.show {
    transform: translateX(0);
  }

  .index-menu li {
    display: block;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
}

/* iframe外层容器 */
.layout-container {
  position: relative; /* 设置父元素为相对定位 */
  height: calc(100vh - 54px);
  width: 100vw;
  overflow: hidden;
  background: url('../../img/background.jpeg') no-repeat;
  background-size: 100% 100%;
}

/* iframe */
.iframe-container{
  position: absolute; /* 子元素绝对定位 */
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3); /* 添加投影效果 */
}

/* 选中标签后设置样式 */
.index-menu li.active {
  font-weight: bold;
  position: relative;
}

.index-menu li.active::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #409eff;
  position: absolute;
  bottom: -5px;
  left: 0;
}
