.grid-condition {
    margin: 15px;
    padding: 15px;
    font-family: sans-serif;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgba(64, 158, 255, 0.7), rgba(89, 231, 224, 0.8));
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-title {
    color: #ffffff;
    font-size: 20px;
    margin: 0 0 10px 0;
}

.grid-tips {
    margin: 5px 0;
    color: #fff;
    font-size: 14px;
}

.grid-tips span{
    color: #f8db03;
    font-weight: bold;
    margin-right: 5px
}

/* element ui的复选框样式 */
.el-button-all-check span{
    color: #FFF!important;
    background-color: #409EFF!important;
    border-color: #409EFF!important;
    -webkit-box-shadow: -1px 0 0 0 #8cc5ff!important;
    box-shadow: -1px 0 0 0 #8cc5ff!important;
}

/* 代码块背景和左边行号样式 */
pre {
    border: 1px solid #409EFF!important;
    border-radius: 8px;
}
