html {
  font-family: sans-serif;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* 页面主体 */
.body-container {
  position: relative; /* 设置父元素为相对定位 */
  height: 100vh;
  width: 100vw;
  overflow-y: scroll; /* Firefox */
  scrollbar-width: none; /* Chrome, Safari, Edge */
  background: url('../img/background.jpeg') no-repeat;
  background-size: 100% 100%;
}

/* 隐藏页面主体滚动条 */
.body-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* 网格布局 */
.row {
  margin: 0;
  padding: 0;
}

/* 动态背景 */
.video-background {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);   /*保证视频内容始终居中*/
  width: 100%;
  height: 100%;
  object-fit: cover;   /*将视频内容按比例缩放以填充整个元素，并且可能会被裁剪。*/
  min-height: 800px;
  z-index: -99999;
}
